@import 'globais';
@import 'second-section';

body {
    font-family: $font-prim;
    background-color: $light-cyan-1;
    line-height: 1.4;

    h1 {
        text-align: center;
        color: $dark-cyan-0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 8px;
        padding: 2rem;
    }
}

main {
    background-color: #fff;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem 1.5rem 0 0;

    .titles {
        margin: 8px 0;

        h3 {
            display: inline;
            color: $dark-cyan-1;
            font-size: 1rem;
            font-weight: 700;
        }
    }

    .input-div {
        margin: 1.5rem 0;
        padding: 0 0.5rem;

        &:nth-child(1) {
            margin-top: 0;
        }

        .input-bkg {
            display: flex;
            padding: 6px;
            background-color: $light-cyan-2;
            border-radius: 0.5rem;

            .input-icon {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 0.8rem;
            }

            .input-number {
                width: 100%;
                padding-right: 0.8rem;

                input {
                    width: 100%;
                    font-size: 24px;
                    font-family: $font-prim;
                    font-weight: 700;
                    color: $dark-cyan-0;
                    border: none;
                    background-color: $light-cyan-2;
                    text-align: right;
                    outline: none;
                }
            }
        }

        .tip-btn-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.2rem;

            .tip-btn {
                width: 100%;
                font-size: 24px;
                padding: 0.5rem;
                border-radius: 0.5rem;
                border: none;
                font-family: $font-prim;
                font-weight: 700;
                color: #fff;
                background-color: $dark-cyan-0;
                cursor: pointer;

                &:active {
                    background-color: lighten($primaria, 30%);
                    color: $dark-cyan-0;
                }
            }

            #custom-input {
                width: 100%;
                color: $dark-cyan-0;
                font-family: $font-prim;
                font-weight: 700;
                font-size: 24px;
                padding: 0.5rem;
                text-align: right;
                border-radius: 0.5rem;
                border: none;
                background-color: $light-cyan-2;

                &:focus {
                    outline: solid 3px $primaria;
                }

                &::placeholder { 
                color: $dark-cyan-1;
                font-family: $font-prim;
                font-size: 24px;
                font-weight: 700;
                }
            }
        }
    }
}
